 body{
    min-width: 1440px;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
 }
 
 .build-container{
    width:1540px;
    padding: 50px;
    background-color: hsl(193, 100%, 96%);
    background-image: url(images/bg-hero-desktop.svg);
 }

 #devices {

 }

footer{
   padding: 50px;
   background-color: hsl(192, 100%, 9%);

}

  .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }